name: CI

on: 
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: maven

      - name: verify
        run: mvn verify -B -Dgpg.skip

      - name: slack
        uses: lazy-actions/slatify@master
        # Disable Slack notifications until we figure out how to fix them
        if: false 
        with:
          type: ${{ job.status }}
          job_name: Build
          url: ${{ secrets.SLACK_WEBHOOK }}